.Person {
     width: 60%;
     margin: 10px auto;
     border: 1px solid #eee;
     box-shadow: 3px 4px 13px #ccc;
     padding: 16px;
     text-align: center;
}

.Person:hover {
    box-shadow: 1px 1px 1px #ccc;
}